@tailwind base;
@tailwind components;
@tailwind utilities;

::placeholder{
    font-size: smaller;
}

::-webkit-scrollbar{
    display: none;
}

.slider-container{
    margin-top: 70px;
}
*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}